# ignore Java (Maven) build directory
tool/target/

# ignore emacs backups
*~

# ignore automake artifacts
.deps/
.libs/
.dirstamp
*.o
*.lo
*.a
*.la
/runtime/Cpp/INSTALL
/runtime/Cpp/Makefile
/runtime/Cpp/Makefile.in
/runtime/Cpp/aclocal.m4
/runtime/Cpp/autom4te.cache/
/runtime/Cpp/config.h
/runtime/Cpp/config.h.in
/runtime/Cpp/config.log
/runtime/Cpp/config.status
/runtime/Cpp/config.status.lineno
/runtime/Cpp/configure
/runtime/Cpp/configure.lineno
/runtime/Cpp/depcomp
/runtime/Cpp/install-sh
/runtime/Cpp/missing
/runtime/Cpp/stamp-h?
/runtime/Cpp/libtool
/runtime/Cpp/config.guess
/runtime/Cpp/config.sub
/runtime/Cpp/ltmain.sh
/runtime/Cpp/test/antlr4cpp_test
/runtime/Cpp/test/antlr4cpp_test_shared

# ignore Visual Studio artifacts and user files
*.sdf
*.opensdf
*.suo
*.vcxproj.user
vsbuild/
