# ignore automake artifacts
.deps/
.libs/
.dirstamp
*.o
*.lo
*.a
*.la
*.exe
*.dll
*.stackdump
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config.status.lineno
configure
configure.lineno
depcomp
install-sh
missing
stamp-h?
libtool
config.guess
config.sub
ltmain.sh
compile
test-driver
test-suite.log
test/antlr4cpp_test.log
test/antlr4cpp_test.trs
test/antlr4cpp_test_shared.log
test/antlr4cpp_test_shared.trs
test/antlr4cpp_test
test/antlr4cpp_test_shared

# ignore Visual Studio artifacts and user files
*.sdf
*.opensdf
*.suo
*.vcxproj.user
vsbuild/

# ignore netbeans project artifacts
a.out.dSYM/
nbproject/
